annotation_mac/Slicer Installation/
annotation_mac/patients/
annotation_windows/Slicer Installation/
annotation_windows/patients/
annotation_mac_xlsx/patients/
annotation_mac_xlsx/Slicer Installation/
annotation_mac_xlsx/log.csv